<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etsoft.scales">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--欢迎页/广告页-->
        <activity
            android:name="com.etsoft.scales.ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--首页-->
        <activity
            android:name="com.etsoft.scales.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--登陆-->
        <activity
            android:name="com.etsoft.scales.ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--注册账号-->
        <activity
            android:name="com.etsoft.scales.ui.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--忘记密码-->
        <activity
            android:name="com.etsoft.scales.ui.activity.ForgetPassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <!--我的>修改密码-->
        <activity
            android:name="com.etsoft.scales.ui.activity.EditPassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <!--历史通知-->
        <activity
            android:name="com.etsoft.scales.ui.activity.RecordNotificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <!--通知详情-->
        <activity
            android:name="com.etsoft.scales.ui.activity.NotificationInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--出库详情-->
        <activity
            android:name="com.etsoft.scales.ui.activity.OutInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <!--设备列表-->
        <activity
            android:name="com.etsoft.scales.ui.activity.DevListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--添加设备-->
        <activity
            android:name="com.etsoft.scales.ui.activity.AddDevActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--入库想详情-->
        <activity
            android:name="com.etsoft.scales.ui.activity.InputInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--入库记录-->
        <activity
            android:name="com.etsoft.scales.ui.activity.InputRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--添加入库-->
        <activity
            android:name="com.etsoft.scales.ui.activity.AddInputAvtivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/activity.Theme.Transparent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--添加出库-->
        <activity
            android:name="com.etsoft.scales.ui.activity.AddOutAvtivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/activity.Theme.Transparent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--服务站点列表-->
        <activity
            android:name="com.etsoft.scales.ui.activity.ServerStationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--服务站点列表-->
        <activity
            android:name="com.etsoft.scales.ui.activity.ServerStationInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <!--打印机服务-->
        <service android:name="com.smartdevice.aidl.IZKCService">
            <intent-filter>
                <action android:name="com.zkc.aidl.all" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>



        <!--定位服务-->
        <service android:name="com.amap.api.location.APSService" />

        <!--高德定位-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b48f2379ed9473e9dd834db19558143b" />

    </application>

</manifest>
